@{
    ViewData["Title"] = "List";
    
}

<header>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css">
    
</header>
<div class="container mt-4">
    <center><h3>Invoices</h3></center>
    <table class="table table-bordered table-striped" id="invoiceTable">
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Name</th>
                <th>Grand Total</th>
                <th>Paid</th>
                <th>Due</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.InvoiceID</td>
                    <td>@item.Name</td>
                    <td>@item.grandTotal.ToString("N2", new System.Globalization.CultureInfo("en-IN"))</td>
                    <td>@item.Paid.ToString("N2", new System.Globalization.CultureInfo("en-IN"))</td>
                    <td>@item.Due.ToString("N2", new System.Globalization.CultureInfo("en-IN"))</td>
                    <td>@item.Phone</td>
                    <td>
                        <a class="btn btn-primary btn-sm Printbtn" href="/Invoice/RePrint/@item.Id" target="_blank">Print</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>
    let table = new DataTable('#invoiceTable');
    new DataTable('#invoiceTable');
    $('#invoiceTable').DataTable();
</script>